body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
}
div {
  background-color: white;
  border-radius: 15px;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
img {
  width: 90%;
  border-radius: 15px;
  margin: 15px auto;
}
h1 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
h2 {
  font-weight: 400;
  padding-bottom: 20px;
  color: hsl(220, 15%, 55%);
}
